boto3>=1.20.39
python-dotenv>=0.19.2
fastapi>=0.75.2
uvicorn>=0.17.6
aiohttp>=3.8.1
sqlalchemy>=1.4.36
pymysql>=1.0.2
inflection>=0.5.1
pydantic>=2.11.3
pydantic_core>=2.33.1
pydantic-settings>=2.9.0   