version: '3.8'

services:
  prosody:
    profiles: ["dev"]
    image: jitsi/prosody:stable
    container_name: prosody
    restart: always
    ports:
      - "5222:5222"
      - "5347:5347"
      - "5280:5280"
    environment:
      - XMPP_DOMAIN=meet.jitsi
      - XMPP_AUTH_DOMAIN=auth.meet.jitsi
      - XMPP_INTERNAL_MUC_DOMAIN=internal.auth.meet.jitsi
      - XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
      - JICOFO_AUTH_USER=focus
      - JICOFO_AUTH_PASSWORD=qLx8YVt9gKj2Unw5RcEzAb3F
      - JVB_AUTH_USER=jvb
      - JVB_AUTH_PASSWORD=ZnT2eRv8HxWyqKj5pDL6nAcB
      - JIBRI_XMPP_USER=jibri
      - JIBRI_XMPP_PASSWORD=Brm7QxuDgL45EcV2pAkZrFsm
      - JIBRI_RECORDER_USER=recorder
      - JIBRI_RECORDER_PASSWORD=R4nJvyTcWpP8QaKsLmY9Ef2t
      - TZ=Europe/Kyiv

  jicofo:
    profiles: ["dev"]
    image: jitsi/jicofo:stable
    container_name: jicofo
    restart: always
    depends_on:
      - prosody
    environment:
      - XMPP_DOMAIN=meet.jitsi
      - XMPP_AUTH_DOMAIN=auth.meet.jitsi
      - XMPP_INTERNAL_MUC_DOMAIN=internal.auth.meet.jitsi
      - XMPP_SERVER=prosody
      - JICOFO_COMPONENT_SECRET=3AeYtxj2Lq59PnmvGkXsP8Jz
      - JICOFO_AUTH_USER=focus
      - JICOFO_AUTH_PASSWORD=qLx8YVt9gKj2Unw5RcEzAb3F
      - TZ=Europe/Kyiv

  jvb:
    profiles: ["dev"]
    image: jitsi/jvb:stable
    container_name: jvb
    restart: always
    depends_on:
      - prosody
    ports:
      - "10000:10000/udp"
    environment:
      - XMPP_DOMAIN=meet.jitsi
      - XMPP_AUTH_DOMAIN=auth.meet.jitsi
      - XMPP_INTERNAL_MUC_DOMAIN=internal.auth.meet.jitsi
      - XMPP_SERVER=prosody
      - JVB_AUTH_USER=jvb
      - JVB_AUTH_PASSWORD=ZnT2eRv8HxWyqKj5pDL6nAcB
      - JVB_BREWERY_MUC=jvbbrewery
      - TZ=Europe/Kyiv

  jibri:
    profiles: ["dev"]
    image: jitsi/jibri:unstable
    container_name: jibri
    restart: always
    shm_size: '2gb'
    depends_on:
      - prosody
      - jicofo
      - jvb
    cap_add:
      - SYS_ADMIN
      - NET_BIND_SERVICE
    ports:
      - "2222:2222"
    volumes:
      - jibri_recordings:/config/recordings
      - jibri_logs:/config/logs
      - ./jibri/records_handler.sh:/home/jibri/records_handler.sh
      - ./recordings:/config/recordings
    environment:
      - XMPP_DOMAIN=meet.jitsi
      - XMPP_AUTH_DOMAIN=auth.meet.jitsi
      - XMPP_INTERNAL_MUC_DOMAIN=internal.auth.meet.jitsi
      - XMPP_RECORDER_DOMAIN=recorder.meet.jitsi
      - XMPP_SERVER=prosody
      - JIBRI_XMPP_USER=jibri
      - JIBRI_XMPP_PASSWORD=Brm7QxuDgL45EcV2pAkZrFsm
      - JIBRI_BREWERY_MUC=jibribrewery
      - JIBRI_RECORDER_USER=recorder
      - JIBRI_RECORDER_PASSWORD=R4nJvyTcWpP8QaKsLmY9Ef2t
      - JIBRI_RECORDING_DIR=/config/recordings
      - JIBRI_FINALIZE_RECORDING_SCRIPT_PATH=/home/jibri/records_handler.sh
      - RECORDS_TOKEN=Lnp6yAFqMtVRzEdb2wUYxKXj9T
      - JIBRI_LOGS_DIR=/config/logs
      - DISPLAY=:0
      - TZ=Europe/Kyiv

  jitsi_records_backend:
    profiles: ["dev"]
    image: "${JITSI}"
    container_name: jitsi-records-backend
    restart: always
    depends_on:
      - jibri
    ports:
      - "8001:80"
    volumes:
      - jibri_recordings:/jibri_records

volumes:
  jibri_recordings:
  jibri_logs:
