name: "Jitsi Records Backend CI"
run-name: >
  ${{ github.event_name == 'workflow_dispatch' 
      && format('Build and Deploy Jitsi Records Backend to {0} environment > {1}', github.event.inputs.environment, github.event.inputs.cloud) 
      || format('Build and Deploy Jitsi Records Backend to {0} environment', github.ref_name == 'master' && 'production' || 'development') }}
on: 
  workflow_dispatch:
    inputs:
      environment:
        type: environment
        description: Type environment
        required: true
        default: development
      backend_tag:
        type: string
        description: Type backend tag
        required: true
        default: latest
      cloud:
        type: choice
        description: "Target cloud"
        required: true
        options:
          - aws
          - azure
      build_only:
        type: boolean
        description: Type build only
        required: true
        default: false

env:
  APPLICATION: "jitsi_records_backend"
  SERVICE_NAME: jitsi_records_backend
  CONTAINER_NAME: jitsi-records-backend
  APP_PATH: /opt/greyt
  ECR_URL: "${{ secrets.ACCOUNT_ID }}.dkr.ecr.eu-central-1.amazonaws.com"
  ACR_URL: "${{ secrets.AZURE_ACR_NAME }}.azurecr.io"
  CONTAINER_REGISTRY: "ecr-jitsi"
  DOCKERFILE_PATH: "jitsi_records_backend/docker/Dockerfile"
  BUILD_CONTEXT: "jitsi_records_backend"
  DOCKER_WORKDIR: "."
  SSH_IP: "${{ github.event.inputs.cloud == 'aws' && secrets.AWS_SSH_IP || github.event.inputs.cloud == 'azure' && secrets.AZURE_SSH_IP }}"
  SSH_KEY: "${{ github.event.inputs.cloud == 'aws' && secrets.AWS_SSH_KEY || github.event.inputs.cloud == 'azure' && secrets.AZURE_SSH_KEY }}"
  SSH_USER: "${{ github.event.inputs.cloud == 'aws' && secrets.AWS_SSH_USER || github.event.inputs.cloud == 'azure' && secrets.AZURE_SSH_USER }}"
  DB_HOST: "${{ (github.event.inputs.cloud == 'aws' && secrets.AWS_DB_HOST) || (github.event.inputs.cloud == 'azure' && secrets.AZURE_DB_HOST)  }}"
  DB_PASSWORD: "${{ (github.event.inputs.cloud == 'aws' && secrets.AWS_DB_PASSWORD) || (github.event.inputs.cloud == 'azure' && secrets.AZURE_DB_PASSWORD) }}"
  DB_USERNAME: "${{ (github.event.inputs.cloud == 'aws' && secrets.AWS_DB_USERNAME) || (github.event.inputs.cloud == 'azure' && secrets.AZURE_DB_USERNAME) }}"

jobs:
  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'development'}}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: AWS login
        if: github.event.inputs.cloud == 'aws'
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.SECRET_KEY }}
          aws-region: eu-central-1

      - name: EKS login
        if: github.event.inputs.cloud == 'aws'
        run: |
          aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin ${{ env.ECR_URL }}

      - name: ACS login
        if: github.event.inputs.cloud == 'azure'
        run: |
          az login --service-principal --username ${{ secrets.AZURE_SP_APP_ID }} --password ${{ secrets.AZURE_SP_PASSWORD }} --tenant ${{ secrets.AZURE_TENANT_ID }}
          az acr login --name ${{ env.ACR_URL }}

      - name: Build and push Docker image
        run: |
          docker build -f ${{ env.DOCKERFILE_PATH }} \
          -t ${{ env.APPLICATION }}:${{ github.event.inputs.backend_tag || 'latest'}} ${{ env.BUILD_CONTEXT }} \
          --build-arg AWS_ACCESS_KEY_ID='${{ secrets.AWS_ACCESS_KEY_ID }}' \
          --build-arg AWS_SECRET_ACCESS_KEY='${{ secrets.AWS_SECRET_ACCESS_KEY }}' \
          --build-arg DB_HOST='${{ env.DB_HOST }}' \
          --build-arg DB_DATABASE='${{ secrets.DB_DATABASE }}' \
          --build-arg DB_PASSWORD='${{ env.DB_PASSWORD }}' \
          --build-arg DB_USERNAME='${{ env.DB_USERNAME }}' \
          --build-arg DB_PORT='${{ secrets.DB_PORT }}' \
          --build-arg STORAGE_HOST='${{ secrets.STORAGE_HOST }}' \
          --build-arg GREYT_HOST='${{ secrets.GREYT_HOST }}' \
          --build-arg APP_MODULE='${{ secrets.APP_MODULE }}' \
          --build-arg RECORDS_DIR='${{ secrets.RECORDS_DIR }}' \
          --build-arg APP_MODE='${{ secrets.APP_MODE }}' \
          --build-arg RECORDS_HANDLER_TOKEN='${{ secrets.RECORDS_HANDLER_TOKEN }}' \
          --build-arg S3_BUCKET='${{ secrets.S3_BUCKET }}'
          docker tag ${{ env.APPLICATION }}:${{ github.event.inputs.backend_tag || 'latest'}} ${{ (github.event.inputs.cloud == 'azure' && env.ACR_URL) || (github.event.inputs.cloud == 'aws' && env.ECR_URL) }}/${{ env.CONTAINER_REGISTRY }}:${{ github.event.inputs.backend_tag || 'latest'}}
          docker push ${{ (github.event.inputs.cloud == 'azure' && env.ACR_URL) || (github.event.inputs.cloud == 'aws' && env.ECR_URL) }}/${{ env.CONTAINER_REGISTRY }}:${{ github.event.inputs.backend_tag || 'latest'}}

  deploy:
    if: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs.build_only != 'true' }}
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || 'development'}}
    needs: [build]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install rsync and ssh
        run: |
          sudo apt-get update -y
          sudo apt-get install -y rsync openssh-client

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          chmod 700 ~/.ssh
          ssh-keyscan ${{ env.SSH_IP }} >> ~/.ssh/known_hosts
          chmod 600 ~/.ssh/known_hosts

      - name: Deploy application using Docker Compose
        run: |
          eval $(ssh-agent -s)
          echo "${{ env.SSH_KEY }}" | tr -d '\r' | ssh-add -
          ssh ${{ env.SSH_USER }}@${{ env.SSH_IP }} <<EOF
            cd ${{ env.APP_PATH }}/jibri-stack
            set -Eeuo pipefail
            set -x
            echo "Logging in to ${{ github.event.inputs.cloud }}"
            if [ "${{ github.event.inputs.cloud }}" = "aws" ]; then
              aws ecr get-login-password --region eu-central-1 | docker login --username AWS --password-stdin ${{ env.ECR_URL }}
              REGISTRY="${{ env.ECR_URL }}"
            elif [ "${{ github.event.inputs.cloud }}" = "azure" ]; then
              az login --service-principal --username ${{ secrets.AZURE_SP_APP_ID }} --password ${{ secrets.AZURE_SP_PASSWORD }} --tenant ${{ secrets.AZURE_TENANT_ID }}
              az acr login --name ${{ secrets.AZURE_ACR_NAME }}
              REGISTRY="${{ env.ACR_URL }}"
            else
              echo "Invalid cloud"
              exit 1
            fi

            docker stop ${{ env.CONTAINER_NAME }} || true
            docker rm ${{ env.CONTAINER_NAME }} || true
            docker images --filter=reference="${REGISTRY}/${{ env.CONTAINER_REGISTRY }}:*" --quiet | xargs -r docker rmi
            sed -i "s|^JITSI=.*|JITSI=${REGISTRY}/${{ env.CONTAINER_REGISTRY }}:${{ github.event.inputs.backend_tag || 'latest'}}|g" ../.env
            docker compose --env-file ../.env --profile ${{ github.event.inputs.environment || 'development'}} pull ${{ env.SERVICE_NAME }}
            docker compose --env-file ../.env --profile ${{ github.event.inputs.environment || 'development'}} up -d ${{ env.SERVICE_NAME }}
            docker image prune -a -f
            EOF
